body {
  overflow-x: hidden;
  font-family: var(--font-popins);
  font-weight: var(--font-light);
  font-size: var(--text-base);
  line-height: var(--lh-base);
}

.wrapper {
  margin: 0 auto;
}

.container {
  padding: 0 20px;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.slideshow-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  & .progres {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(212, 212, 212);
    overflow: hidden;
    & .line-progress {
      height: 100%;
      background-color: var(--orange-200);
      transition: width 0.3s ease;
    }
  }

  & .slideshow-arrow {
    padding: 15px;
    color: var(--orange-200);
    &:hover {
      background-color: var(--white);
    }
  }

  & .disabled {
    color: rgb(56, 56, 56) !important;
  }
}

.section-discription {
    color: var(--purple-400);
    line-height: 40px;
    font-size: var(--text-2xl);
    font-weight: var(--font-normal);
}

@media (max-width: 768px) {
  .section-discription {
      font-size: var(--text-xl);
      line-height: 32px;
  }
}

@media (max-width: 640px) {
  .section-discription {
      font-size: var(--text-base);
      line-height: 24px;
  }
}
