:root {
    //font-family
    --font-popins: 'Poppins', sans-serif;

    //font weith
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;

    //color
    --brand-100: #fef0ef;
    --brand-200: #FCD4D2;
    --brand-300: #f66962;

    --white: white;
    --gray: #777777;

    --blue-100: #dcf7fe;
    --blue-200: #5DCAF5;
    --blue-300: #4097fE;

    --orange-100: #fdf3e9;
    --orange-200: #f5922D;

    --green-100: #43C9B1;
    --green-200: #3C9365;

    --purple-100: #EFEFF7;
    --purple-200: #f0efff;
    --purple-300: #6d64fe;
    --purple-400: #5F5881;
    --purple-500: #282834;

    //font size
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;
    --text-4xl: 36px;
    --text-5xl: 48px;

    //light-height
    --lh-xs: 16px;
    --lh-sm: 20px;
    --lh-base: 24px;
    --lh-lg: 28px;
    --lh-xl: 28px;
    --lh-2xl: 32px;
    --lh-3xl: 36px;
    --lh-4xl: 40px;
    --lh-5xl: 1;
}
//Responsive
$sm: 320px;
$md: 480px;
$lg: 640px;
$xl: 768px;
$xxl: 1024px;
$xxxl: 1280px;
$xxxxl: 1536px;

